# Rust/Anchor
target/
.anchor/
**/*.so
**/*.keypair

# Node
node_modules/
dist/
.env
*.env.local

# Solana
test-ledger/
.keys/
wallets/

# Next.js
app/.next/
app/out/
.next/
out/

# Misc
.DS_Store
*.log
*.pem
.vercel
*.tsbuildinfo
next-env.d.ts
